<!-- -*- Mode: html -*- -->
<header class="main-header post-head {{#if image}}"
        style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
    <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
  </nav>
</header>
