<!-- -*- Mode: html -*- -->
<div class="nav nav-closed" id="nav">
  <h3 class="nav-title">Menu</h3>
  <a href="#" class="nav-close"><span class="hidden">Close</span></a>
  <ul class="nav-list">
    <li class="nav-home" role="presentation"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
        Home</a></li>
    <li class="nav-home" role="presentation"><a href="/about"><i class="fa fa-info-circle"
                                                                 aria-hidden="true"></i>
        About Me</a></li>
    <li class="nav-nome" role="presentation"><a href="/rss.xml"><i class="fa fa-rss"
                                                                   aria-hidden="true"></i>
        Subscribe</a>
      <a href="https://validator.w3.org/feed/check.cgi?url=https%3A//keystrokecountdown.com/rss.xml"><img src="/images/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed"/></a>
    </li>
    <li class="nav-home" role="presentation"><a href="/topics"><i class="fa fa-tags"
                                                                  aria-hidden="true"></i>
        Topics</a></li>
    <br>
    {{#each collections.articles}}
    <li class="nav-home" role="presentation"><a href="{{relativeUrl}}">{{title}}</a></li>
    {{/each}}
  </ul>
</div>
<span class="nav-cover"></span>
