<?xml version="1.0" encoding="utf-8" ?> <!-- -*- Mode: xml -*- -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".xml" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".xml" mimeType="application/rss+xml" />
    </staticContent>    
  </system.webServer>
</configuration>
