<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer> <!-- -*- Mode: xml -*- -->
    <staticContent>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>    
  </system.webServer>
</configuration>
