<?xml version="1.0" encoding="utf-8" ?> <!-- -*- Mode: xml -*- -->
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00"/>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".xml" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".xml" mimeType="application/rss+xml" />
      <remove fileExtension=".m4v" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".m4v" mimeType="video/mp4" />
      <remove fileExtension=".mp4" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".sf2" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".sf2" mimeType="audio/x-soundfont" />
    </staticContent>
  </system.webServer>
</configuration>
